.:53 {
  bind 0.0.0.0 127.0.0.1 ::1 {
    except igb0
  }
  errors
  log
  prometheus :9153
  k8s_gateway {{ domain }} {
    ttl 30
    kubeconfig /usr/local/etc/coredns/kubeconfig
    fallthrough
  }
  hosts {
    fallthrough
  }
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
  }
}
